<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceSumator" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10786/ServiceSumator.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceSumator"
                contract="SumatorServiceReference.IServiceSumator" name="BasicHttpBinding_IServiceSumator" />
        </client>
    </system.serviceModel>
</configuration>